### <b>Question No. 1</b>

In [7]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### <b>Question No. 2

In [8]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### <b>Question No. 3

In [10]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df.to_string(index=False))

  Name  Age Gender
 Alice   25 Female
   Bob   30   Male
Claire   27 Female

### <b>Question No. 4

In Pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where data is arranged in rows and columns. Each column in a DataFrame is a Pandas Series.

A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.). It is like a single column of data in a DataFrame.

Here's an example to illustrate the difference:

```python
import pandas as pd

# Creating a Pandas Series
series = pd.Series([1, 2, 3, 4, 5])

# Creating a DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e']
}
df = pd.DataFrame(data)

print("Pandas Series:")
print(series)
print("\nDataFrame:")
print(df)
```

Output:
```
Pandas Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:
   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
```

In this example, `series` is a Pandas Series containing integers, while `df` is a DataFrame containing two columns, 'A' (integers) and 'B' (strings). Each column in the DataFrame is a Pandas Series.

### <b>Question No. 5

There are several common functions and methods you can use to manipulate data in a Pandas DataFrame. Some of the most commonly used ones include:

1. **`head()` and `tail()`**: These functions allow you to view the first or last few rows of the DataFrame, respectively. They are useful for quickly inspecting the data.

2. **`info()`**: This method provides a concise summary of the DataFrame, including the data types of each column and the number of non-null values.

3. **`describe()`**: This method computes summary statistics for numerical columns, such as mean, median, min, and max.

4. **`loc[]` and `iloc[]`**: These are used for selecting rows and columns by label (`loc[]`) or by integer position (`iloc[]`).

5. **`drop()`**: This method is used to drop rows or columns from the DataFrame.

6. **`fillna()`**: This method is used to fill missing values in the DataFrame with a specified value or method.

7. **`groupby()`**: This method is used to group data in the DataFrame based on one or more columns, and then apply a function (like sum, mean, etc.) to each group.

8. **`merge()` and `concat()`**: These functions are used to combine multiple DataFrames into a single DataFrame.

9. **`pivot_table()`**: This method creates a spreadsheet-style pivot table as a DataFrame.

10. **`apply()`**: This method applies a function along an axis of the DataFrame.

Example:
```python
import pandas as pd

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Ella'],
    'Age': [25, 30, 27, 35, None],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Filling missing values in 'Age' column with the mean age
mean_age = df['Age'].mean()
df['Age'] = df['Age'].fillna(mean_age)

# Grouping the data by 'Gender' and computing the average age for each gender
avg_age_by_gender = df.groupby('Gender')['Age'].mean()

print("DataFrame:")
print(df)
print("\nAverage Age by Gender:")
print(avg_age_by_gender)
```

In this example, we use the `fillna()` method to fill missing values in the 'Age' column with the mean age. Then, we use the `groupby()` method to group the data by 'Gender' and compute the average age for each gender.

### <b>Question No. 6

Series and DataFrame are mutable in nature

### <b>Question No. 7

You can create a DataFrame using multiple Series by passing a dictionary where the keys are the column names and the values are the Series. Here's an example:

```python
import pandas as pd

# Creating two Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])

# Creating a DataFrame using the two Series
df = pd.DataFrame({'Name': name_series, 'Age': age_series})

print(df)
```

Output:
```
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27
```

In this example, we first create two Series, `name_series` and `age_series`, containing names and ages, respectively. Then, we create a DataFrame `df` by passing a dictionary with column names as keys and the Series as values. The resulting DataFrame has two columns, 'Name' and 'Age', with the data from the respective Series.